.todo__title {
  background-color: #3c66e9;
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.todo__add {
  padding: 0 1.25rem;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  border-top: 1px solid #eeeeeeee;
}

.todo__input {
  display: inline-block;
  /*border: 1px solid #cccccc;*/
  border: 0;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  border-left: 4px double #f7d5d5;
}

.todo__container, .todo__container * {
  box-shadow: none;
  outline: none;
}

.todo__container {
  margin: 2rem auto;
  max-width: 600px;
  min-width: 300px;
  border-radius: 4px;
  color: #333333;
  font-family: Tahoma, serif;
  background-color: white;
  @include card-shadow;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    border-bottom: 1px solid #eeeeee;
    line-height: 1.5;
    padding-left: 1.25rem;
    position: relative;

    &:hover {
      background: #efefef;

      input[type="text"] {
        background: #efefef;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    margin: 0;
  }

  input[type="checkbox"] {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    line-height: 1;
  }

  .custom-control-label {
    &::before, &::after {
      top: 0.125rem;
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid rgb(82, 181, 205);
      left: -1.85rem;
      border-radius: 0 !important;
    }

    &::before {
      background-color: white;
    }

    &::after {
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    border-color: rgb(200, 200, 200);
    background-color: rgb(245, 245, 245);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgb(200, 200, 200)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
}
