<div class="container">
  <div class="todo__container">
    <h5 class="todo__title">TODO LIST</h5>

    <form #form="ngForm" novalidate>

      <div class="todo__add">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isCompleted" id="newTaskId"
                 [checked]="newTask.is_completed"
                 (click)="changeCheckbox(newTask)"/>
          <label class="custom-control-label" for="newTaskId"></label>
        </div>
        <input type="text" class="todo__input" name="task" #task="ngModel"
               [(ngModel)]="newTask.task" placeholder="Enter new task here..."
               (keypress)="addNewTask($event)" (focusout)="addNewTask()"/>
      </div>

      <ul class="todo__list">
        <li *ngFor="let todo of toDoService.toDoList$ | async">
          <app-to-do [todo]="todo"></app-to-do>
        </li>
      </ul>

    </form>
  </div>
</div>
