/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/scss/mixin";
@import "assets/scss/app";

html{
  min-height: 100%;
  background-color: #adadad;
}

body{
  height: 100%;
  background-color: transparent;
}

footer{
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
}
