<label>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" [id]="todo.id" name="todoDone"
           [checked]="todo.is_completed"
           (click)="changeCheckbox(todo); updateTask(todo)"/>
    <label class="custom-control-label" [for]="todo.id"></label>
  </div>

  <input type="text" name="todoTask" #todoTask="ngModel" class="todo__input" [(ngModel)]="todo.task"
         (focusout)="updateTask(todo)" (keypress)="updateTask(todo, $event)"/>
  <button type="button" class="todo__delete" aria-label="Close" (click)="deleteTask(todo.id)">
    <span aria-hidden="true">&times;</span>
  </button>
</label>
