.todo__delete {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 5px;
  opacity: 0.2;
  font-size: 1.2rem;

  &:hover {
    opacity: 0.4;
    color: red;
    font-size: 1.5rem;
  }

  &:focus {
    outline: 0;
  }
}
